body {
  background: url("https://images.unsplash.com/photo-1543470366-01327539f26a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#result-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  padding: 20px;
}

#intro {
  text-align: center;
}

.navbar {
  box-shadow: 0px 5px 15px grey;
}

#api-date,
#api-section {
  color: grey;
  font-size: small;
}

#intro {
  background-color: white;
  padding: 5%;
  box-shadow: 0px 5px 15px gray;
}

#controlPanel {
  background-color: white;
  height: 100vh;
  padding: 2%;
}
