body {
  background: url("https://images.unsplash.com/photo-1543470366-01327539f26a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body#body-explore {
  background: radial-gradient(ellipse, white, #c1e1ec);
  height: 100%;
}

#result-container {
  padding: 20px;
}

td {
  border: 1px solid black;
  padding: 25px;
  vertical-align: top;
}

#intro {
  text-align: center;
}

.navbar {
  box-shadow: 0px 5px 15px grey;
}

.card:hover {
  box-shadow: 0px 1px 30px grey;
  cursor: pointer;
}

#api-date,
#api-section {
  color: grey;
  font-size: small;
}

#intro {
  background-color: white;
  padding: 5%;
  box-shadow: 0px 5px 15px gray;
}

#controlPanel {
  background-color: white;
  height: 100vh;
  padding: 2%;
}
